/* Reset de márgenes y paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo para el body */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #7b7a79;
  color: #333;
  padding: 20px;
}

/* Estilo para el encabezado */
header {
  text-align: center;
  background-color: #9a6605;
  color: white;
  padding: 20px;
}

/* Estilo para la navegación */
.navegacion {
  background-color: #333;
  text-align: center;
  padding: 10px 0;
}

.navegacion ul {
  list-style-type: none;
}

.navegacion ul li {
  display: inline-block;
  margin-right: 20px;
}

.navegacion a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
}

.navegacion a:hover {
  text-decoration: underline;
}


h1 {
  font-size: 2em;
}

/* Estilo para la sección principal */
section {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

/* Estilo para el contenedor de texto y la imagen */
.contenido {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Estilo para los párrafos de texto */
.texto {
  flex: 1;
  margin-right: 20px;
  text-align: justify; /* Justificar el texto */
}

.texto p {
  margin-bottom: 15px; /* Espacio entre los párrafos */
}

/* Estilo para el contenedor de la foto y el nombre */
.foto-con-nombre {
  text-align: center;
}

/* Estilo para la imagen */
.foto-persona {
  width: 400px;
  height: auto;
  border-radius: 20px;
  margin-bottom: 10px; /* Espacio entre la imagen y el texto */
}

/* Estilo para el nombre de la persona */
.nombre-persona {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

/* Estilo para los enlaces */
a {
  color: #9a6605;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
